html, body, #root {
  position: fixed;  
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.App {
  text-align: left;
  display: flex;
  position: fixed;  
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.item {
  text-align: left;
}

.mermaid {
  border: 1px solid darkgray;
  padding: 4px;  
  flex: 60;
  overflow-y: auto;
  display: inline-block;
}

.rightSide {
  flex: 40;
}

.infoPanel {
  border: 1px solid darkgray;
  padding: 4px;
}

.console {
  border: 1px solid darkgray;
  padding: 4px;  
  height: 100%;
  overflow-y: auto;
}

.consoleItem {
  border-top-color: lightgray;
  border-top-style: solid;
  border-top-width: 1px;
}